<ion-header>
  <ion-toolbar>
    <ion-title>Filtrar Reporte de Stock</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Producto</ion-label>
      <ion-select [(ngModel)]="producto">
        <ion-select-option *ngFor="let p of productos" [value]="p">{{p}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="generarExcel()">Descargar Excel</ion-button>
</ion-content>