/* Product List */
.product-list {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  margin-bottom: 1.5rem;
}

.product-list-header {
  background-color: #3048A7;
  color: white;
  font-weight: 500;
}

.product-row {
  border-bottom: 1px solid #e5e7eb;
}

.product-list-header,
.product-row {
  display: grid;
  grid-template-columns: 4fr 3fr 2fr 2fr; /* Define tamaños fijos para las columnas */
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 0rem;
  padding-right: 0rem;
  align-items: center;
  text-align: center;
}

.product-row.even {
  background-color: #eef2ff; /* bg-indigo-50 */
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.3rem;
  padding-right: 0rem;
  border-bottom: 1px solid #afb2b7;
}

.product-row.odd {
  background-color: white;
}

.product-list-header div:last-child,
.product-row div:last-child {
  border-right: none;
}

.product-code {
  font-weight: 500;
  color: #3730a3;
  padding: 0.5rem;
}

.product-name {
  font-weight: 500;
  color: #3730a3;
  padding: 0.5rem;
}

.product-price {
  font-weight: 500;
}

.product-name,
.product-code,
.product-quantity,
.product-price {
  text-align: center;
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}

.badge {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  background-color: #e5ebff;
  color: #3730a3;
  border-radius: 20px;
  font-weight: 500;
  font-size: 1rem;
  border: 1px solid #a49fe5;
}