<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reportes
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main class="main-content">
    <div class="section-header">
      <h2 class="section-title">Generar Reporte</h2>
    </div>
    <div class="menu-container">
        <div class="menu-buttons">
          <button class="menu-button">Productos mas vendidos en el mes</button>
          <hr>
          <button class="menu-button">Productos menos vendidos</button>
          <hr>
          <button class="menu-button">Ventas del mes</button>
        </div>
      </div>
  </main>
</ion-content>
