ion-item {
      --padding-start: 0;
      margin-bottom: 8px;
    }

ion-text[color="danger"] {
    font-size: 12px;
    display: block;
    margin-bottom: 16px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.label-stacked {
    font-size: 20px;
}

h2 {
    color:rgb(51, 45, 177);
}