// In menu.page.scss
ion-content {
  --padding-bottom: 60px; // Adjust based on your menu bar height

}
ion-content{
  --ion-background-color: #E0DEDE; // Set the background color for the entire app
}

app-barra-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; // Ensures it stays on top of other content
  width: 100%;
  background-color: var(--ion-background-color); // Or any color you prefer
}
.contendor-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
h1{
  font-size: 40px; // Use the font you imported
  color: #070707; // Adjust color as needed
}
h6{
  font-size: 20px;
  margin-top: 0px;
  color: #000000; // Adjust color as needed
}
ion-item{
  --background: #E0DEDE; // Set the background color for the entire app
  --color: #000000;
 // Set the text color for the entire app// Set the danger color for the entire app
}

.contenedor-opciones {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}